<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dogs!!</title>
  </head>
  <body>
    <header>All about Dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninja Page</a>
      <a href="/pirates">Pirate Page</a>
    </nav>
    <article>
      <img src="http://www.petyourdog.com/uploads/articles/18-1.jpg">
      <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=36389547">
      <img src="http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/24611720.jpg">
      <iframe width="420" height="315" src="//www.youtube.com/embed/9owHaf9c0kk" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c) Dogs</small>
    </footer>
  </body>
</html>
