<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas!!</title>
  </head>
  <body>
    <header>All about Ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cat Page</a>
      <a href="/pirates">Pirate Page</a>
    </nav>
    <article>
      <img src="images/catninjas.jpg">
      <br>
      <img src="images/fatninja.jpg">
      <br>
      <img src="images/kittyninja.jpg">
    </article>
    <footer>
      <small>(c) Ninjas</small>
    </footer>
  </body>
</html>
